body {
  padding-top: 300px;
  padding-bottom: 40px;
  background-color: #fff;
}

/* Website logo */
h2 {
  text-align: center;
}

/* Containers */
.container-fluid {
  background-color: #fff;
  width: 500px;
}

.row {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

/* Dropdown */
.dropdown-menu {
    width: 20px !important;
}

/* Summoner Input Field */
.input-group {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}