body {
  padding-top: 230px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
}

/* Website logo */
h2 {
  text-align: center;
}

/* Containers */
.container-fluid {
  background-color: #FFFFFF;
  width: 500px;
}

.row {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}


#selector {
    width:85px;
    float:right;
}


/* Summoner Input Field */
.input-group {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}